html {
  font-size: 62.5%;
}

body {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  color: $choco;
  font-weight: bold;
}

p {
  color: $brown;
  font-size: 1.6rem;
  line-height: 1.1;
}

a {
  color: $choco;

  &:hover {
    color: $choco;
    text-decoration: none;
  }
}

.main {
  margin-bottom: 40px;
}

.wrap {
  margin-top: 150px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.article-gutter {
  margin-right: 6px;
  margin-left: 6px;

  > [class*="col-"] {
    padding-right: 6px;
    padding-left: 6px;
  }
}
